**/.DS_Store
**/.git
**/.github
**/.idea
**/.vs
**/.vscode
**/docker
**/.dockerignore
**/.env
**/.env.example
**/.gitattributes
**/.gitignore
**/.golangci.yml
**/lefthook.yml
**/LICENSE
**/Makefile
**/README.md
